[data-tab-content]{
    display: none;
}

.active[data-tab-content]{
    display: block;
}

iframe{
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body{
    padding:0;
    margin:500;
    background-color:#BBD1EA;
    color: #333333;
    font-family: "Verdana", Geneva, sans-serif;
}

p{
    padding:0;
    margin:500;
    color: #333333;
    font-family: "Verdana", Geneva, sans-serif;
}

.tabs{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin:0;
    padding:0;
    border-bottom: 1px solid black;

}

.tab {
    cursor: pointer;
    padding: 10px;
}

.tab.active{
    background-color: #507DBC;
}
.tab:hover {
    background-color: #507DBC;
}
